* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  max-height: 600px;
  max-width: 600px;
  margin: 20px;
  color: #444444;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  height: 550px;
  width: 550px;
  gap: 20px;
}

#title-block {
  display: flex;
  align-items: center;
}

#title-img {
  display: flex;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: auto;
}

#title {
  text-shadow: 1px 1px 3px lightgray;
  color: black;
}

#photo {
  display: flex;
  max-width: 90%;
  height: auto;
  margin-left: 20px;
  margin-top: 3px;
  box-shadow: 0 0.5px 10px 0 rgb(99, 99, 99);
  border-radius: 5px;
}

#caption,
#date,
#copyright,
#acknowledgments {
  padding-left: 20px;
}

#date {
  font-size: large;
  padding-top: 10px;
}

#caption {
  max-width: 525px;
  font-size: medium;
  line-height: 150%;
  text-align: justify;
  text-justify: inter-word;
}

#acknowledgments {
  display: flex;
  justify-content: left;
  gap: 10px;
  font-size: 10px;
  padding-bottom: 30px;
}

a {
  color: #444444;
  font-style: bold;
}

